.background {
  viewport-fill: black;
}

#troubleshooting {
  font-size: 30;
  font-family: System-Bold;
  text-length: 100;
  x: 25;
  y: 35;
  fill: white;
}

#exercise-list {
  font-size: 30;
  font-family: System-Bold;
  text-length: 20;
  x: 25;
  y: 35;
  fill: red;
}

#reps-goal {
  font-size: 35;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 90;
  fill: white;
}

#wgt-goal {
  font-size: 35;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 175;
  fill: white;
}
 
#wgt-label {
  font-size: 28;
  font-family: System-Bold;
  text-anchor: middle;
  x: 40;
  y: 175;
  fill: white;
}

#reps-label {
  font-size: 28;
  font-family: System-Bold;
  text-anchor: middle;
  x: 40;
  y: 90;
  fill: white;
}

#sets-label {
  font-size: 28;
  font-family: System-Regular;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 225;
  fill: white;
}

#post-msg {
  font-size: 35;
  text-length: 25;
  x: 25;
  y: 50;
  fill: white;
}

#post-msg2 {
  font-size: 35;
  text-length: 25;
  x: 25;
  y: 85;
  fill: white;
}



